body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}

/* Bootstrap Overrides */
.navbar-inverse {
    background-color: #2a942a;
    border-color: #2a942a;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #2a942a;
    background-color: rgba(42, 148, 42, 0.68);
}

.dropdown-menu {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-brand {
    font-weight: 700;    
}
.navbar-inverse .notifications {
    position: relative;
}
.navbar-inverse .notifications .badge {
    position: relative;
    top: -10px;
    right: 5px;
    background: #a80a0a;
}

.highlight {
    font-weight: bold;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    padding: 15px 15px;
    /*-ms-border-radius: 9px;*/
    border-radius: 9px;
    height: 60px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
}

.btn {
    font-size: 17px;
    padding: 7px 20px;
    /*-ms-border-radius: 9px;*/
    border-radius: 9px;
}

.partial-add-record {
    padding: 10px;
}

.record-added {
    color: green;
    font: bold;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.header {
    font: bold;
}

hr {
    border-top: 1px solid #bba6a6;
}

.streak-stats-card {
    background-color: #0D5206;
    width: 240px;
    border-radius: 25px;
    margin-bottom: 24px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.streak-title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.streak-category {
    color: #cec7c7;
    font-size: 12px;
    padding: 10px;
}

.streak-value {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    padding: 15px;
}

.popover-notifications .popover-content {
    padding: 0;
}
.popover-notifications ul.notifications {
    list-style: none;
    padding-right: 0;
}
.popover-notifications ul.notifications > li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.popover-notifications ul.notifications > li:last-child {
    border-bottom: none;
}
.popover-notifications ul.notifications .highlight {
    font-weight: bold;
}