@{
    ViewBag.Title = "About SimpleHealthTracking";
}

<h2>About SimpleHealthTracking</h2>
<div class="text-body">
    <p>
        SimpleHealthTracking is an easy to use web application for storing basic health information.
        The site was developed by Joshua Niederer using C# and the ASP.NET MVC web framework. The source
        code for the application is open source and can be found on GitHub: <a href="https://github.com/jpniederer/SimpleHealthTracking">https://github.com/jpniederer/SimpleHealthTracking</a>.
        If you have any questions about using the application, please visit the @Html.ActionLink("Help Page", "Help").
    </p>
    <p>
        For other work by Joshua Niederer, visit his website: <a href="http://www.jpniederer.com">http://jpniederer.com</a>.
    </p>
</div>