@{
    ViewBag.Title = "Contact Us";
}
<h2>Contact Us</h2>
<div class="text-body">
    <p>
        If you experience any issues with the site, or have any questions or requests feel free to email me at josh at jpniederer.com.
    </p>
</div>