@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("~/Views/Checkin/CheckinPartial.cshtml")
</div>
<hr />
<div>
    @Html.Partial("~/Views/Sleep/SleepPartial.cshtml")
</div>
<hr />
<div>
    @Html.Partial("~/Views/MedicineTaken/MedicineTakenPartial.cshtml")
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Sleep Patterns</h2>
        <p>
            How much you've slept in the last 30 days.
        </p>
        <p>
            <div class="chart">
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Weight Over Time</h2>
        <p></p>
        <p>
            <div class="weightChart">
                <svg id="weightChart" width="400" height="400"></svg>
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recent Heartrates</h2>
        <p></p>
        <p>
            <div class="heartrateChart">
                <svg id="heartChart" width="400" height="400"></svg>
            </div>
        </p>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/timer.js"></script>
    <script src="~/Scripts/createSleep.js"></script>    
    <script src="~/Scripts/createCheckin.js"></script>
    <script src="~/Scripts/createMedicineTaken.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();

            $(".timepicker").timepicker({
                'step': 15,
                'timeFormat': 'H:i'
            });

            $(".timepickerEnd").timepicker({
                'scrollDefault': '08:00',
                'step': 15,
                'timeFormat': 'H:i'
            });

            $(".timepickermt").timepicker({
                'scrollDefault': '22:00',
                'step': 15,
                'timeFormat': 'H:i'
            });
        });

        var checkinWeightsJson, checkinHeartratesJson,
            weights, heartrates;

        $(document).ready(function () {
            setupTestChart();
            setupDataSets();
        });

        function setupDataSets() {
            $.get("api/CheckinApi/GetLastCheckinsForWeights?count=30", function (d) {
                checkinWeightsJson = d;
            })
            .done(function() {
                setupWeightGraph();
            });
            $.get("api/CheckinApi/GetLastCheckinsForHeartrates?count=30", function (d) {
                checkinHeartratesJson = d;
            })
            .done(function() {
                setupHeartrateGraph();
            });
        };

        function setupWeights() {
            weights = checkinWeightsJson.map(function (item) {
                return {
                    x: item.TimeAdded,
                    y: item.Weight
                };
            });
        };

        function setupWeightGraph() {
            setupWeights();
            // d3 converts local time to GMT.
            var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S");
            var weight = d3.select("#weightChart"),
                margins = { top: 20, right: 20, bottom: 20, left: 50 },
                width = 400,
                height = 400,
                xRange = d3.scaleTime().range([margins.left, width - margins.right]).domain([
                    d3.min(weights, function (d) {
                        return parseTime(d.x);
                    }),
                    d3.max(weights, function (d) {
                        return parseTime(d.x);
                    })
                ]),
                yRange = d3.scaleLinear().range([height - margins.top, margins.bottom]).domain([
                    d3.min(weights, function (d) {
                        return d.y - 1;
                    }),
                    d3.max(weights, function (d) {
                        return d.y + 1;
                    })
                ]),
                xAxis = d3.axisBottom(xRange),
                yAxis = d3.axisLeft(yRange);

            weight.append("svg:g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + (height - margins.bottom) + ")")
                .call(xAxis);

            weight.append("svg:g")
              .attr("class", "y axis")
              .attr("transform", "translate(" + (margins.left) + ",0)")
              .call(yAxis);

            var lineFunc = d3.line()
                .x(function (d) {
                    return xRange(parseTime(d.x));
                })
                .y(function (d) {
                    return yRange(d.y);
                });

            weight.append('svg:path')
                .attr('d', lineFunc(weights))
                .attr('stroke', 'blue')
                .attr('stroke-width', 2)
                .attr('fill', 'none')
                .text("Recent Heartrates")
        };

        function setupHeartrates() {
            heartrates = checkinHeartratesJson.map(function (item) {
                return {
                    x: item.TimeAdded,
                    y: item.Heartrate                    
                };
            });
        };

        function setupHeartrateGraph() {
            setupHeartrates();
            // d3 converts local time to GMT.
            var parseTime = d3.timeParse("%Y-%m-%dT%H:%M:%S");
            var heart = d3.select("#heartChart"),
                margins = { top: 20, right: 20, bottom: 20, left: 50 },
                width = 400, //+.attr("width") - margin.left - margin.right,
                height = 400, //+svg.attr("height") - margin.top - margin.bottom,
                //g = svg.append("g").attr("transform", "translate(" + margin.left + ", " + margin.top + ")");
                xRange = d3.scaleTime().range([margins.left, width - margins.right]).domain([
                    d3.min(heartrates, function (d) {
                        return parseTime(d.x);
                    }),
                    d3.max(heartrates, function (d) {
                        return parseTime(d.x);
                    })
                ]),
                yRange = d3.scaleLinear().range([height - margins.top, margins.bottom]).domain([
                    d3.min(heartrates, function (d) {
                        return d.y - 5;
                    }),
                    d3.max(heartrates, function (d) {
                        return d.y + 5;
                    })
                ]),
                xAxis = d3.axisBottom(xRange),
                yAxis = d3.axisLeft(yRange);

            heart.append("svg:g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + (height - margins.bottom) + ")")
                .call(xAxis);

            heart.append("svg:g")
              .attr("class", "y axis")
              .attr("transform", "translate(" + (margins.left) + ",0)")
              .call(yAxis);

            var lineFunc = d3.line()
                .x(function (d) {
                    return xRange(parseTime(d.x));
                })
                .y(function (d) {
                    return yRange(d.y);
                });

            heart.append('svg:path')
                .attr('d', lineFunc(heartrates))
                .attr('stroke', 'blue')
                .attr('stroke-width', 2)
                .attr('fill', 'none')
                .text("Recent Heartrates")
        };

        function setupTestChart() {
            var data = [4, 8, 15, 16, 23, 32];
            //var x = d3.scale.linear()
            //    .domain([0, d3.max(data)])
            //    .range([0, 420]);

            d3.select(".chart")
              .selectAll("div")
                .data(data)
              .enter().append("div")
                .style("width", function (d) { return d * 10 + "px"; })
                .text(function (d) { return d; });
        };
        
    </script>
}