@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("~/Views/Checkin/CheckinPartial.cshtml")
</div>
<hr />
<div>
    @Html.Partial("~/Views/Sleep/SleepPartial.cshtml")
</div>
<hr />
<div>
    @Html.Partial("~/Views/MedicineTaken/MedicineTakenPartial.cshtml")
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Sleep Patterns</h2>
        <p>
            Sleep trend over the last 30 days.
        </p>
        <p>
            <div class="sleepChart">
                <svg id="sleepChart" width="400" height="400"></svg>
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Weight Over Time</h2>
        <p>Weight trend over your last 30 entries.</p>
        <p>
            <div class="weightChart">
                <svg id="weightChart" width="400" height="400"></svg>
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Recent Heartrates</h2>
        <p>Heartrate trend over your last 30 entries.</p>
        <p>
            <div class="heartrateChart">
                <svg id="heartChart" width="400" height="400"></svg>
            </div>
        </p>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/timer.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="~/Scripts/charts.js"></script>
    <script src="~/Scripts/createSleep.js"></script>
    <script src="~/Scripts/createCheckin.js"></script>
    <script src="~/Scripts/createMedicineTaken.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();

            $(".timepicker").timepicker({
                'step': 15,
                'timeFormat': 'H:i'
            });

            $(".timepickerEnd").timepicker({
                'scrollDefault': '08:00',
                'step': 15,
                'timeFormat': 'H:i'
            });

            $(".timepickermt").timepicker({
                'scrollDefault': '22:00',
                'step': 15,
                'timeFormat': 'H:i'
            });
        });

        $(document).ready(function () {
            setupDataSetsHome();
        });       
    </script>
}