@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("~/Views/Checkin/CheckinPartial.cshtml")
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
@section scripts
{
    <script>
        var isCounting = false;
        var interval;
        var button = document.getElementById('timer');
        var seconds;
        var temp;

        function timerClick() {
            if (isCounting) {
                stopTimer();
                isCounting = false;
                seconds = 0;
                timer.innerHTML = "Start Timer";
            } else {
                temp = document.getElementById('counter');
                temp.innerHTML = 0;
                isCounting = true;
                interval = setInterval(function () { startTimer() }, 1000);
                timer.innerHTML = "Stop Timer";
            }
        }

        function startTimer() {
            seconds = document.getElementById('counter').innerHTML;
            seconds = parseInt(seconds, 10);

            seconds++;
            temp = document.getElementById('counter');
            temp.innerHTML = seconds;           
        }

        function stopTimer() {
            clearInterval(interval);
        }
    </script>
    
}