@{
    ViewBag.Title = "Home Page";
}

<div>
    @Html.Partial("~/Views/Checkin/CheckinPartial.cshtml")
</div>
<hr />
<div>
    @Html.Partial("~/Views/Sleep/SleepPartial.cshtml")
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Sleep Patterns</h2>
        <p>
            How much you've slept in the last 30 days.
        </p>
        <p>
            <div class="chart">
            </div>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Weight Over Time</h2>
        <p></p>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2>Recent Heartrates</h2>
        <p></p>
        <p></p>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/timer.js"></script>
    <script src="~/Scripts/createSleep.js"></script>    
    <script src="~/Scripts/createCheckin.js"></script>
    <script src="~/Scripts/jquery.timepicker.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
        $(function () {
            $(".datepicker").datepicker();

            $(".timepicker").timepicker({
                'step': 15,
                'timeFormat': 'H:i'
            });

            $(".timepickerEnd").timepicker({
                'scrollDefault': '08:00',
                'step': 15,
                'timeFormat': 'H:i'
            });
        });

        var data = [4, 8, 15, 16, 23, 42];
        //var x = d3.scale.linear()
        //    .domain([0, d3.max(data)])
        //    .range([0, 420]);

        d3.select(".chart")
          .selectAll("div")
            .data(data)
          .enter().append("div")
            .style("width", function (d) { return d * 10 + "px"; })
            .text(function (d) { return d; });
    </script>
}