@{ 
    ViewBag.Title = "SimpleHealthTracking";
}
<div class="jumbotron">
    <div class="container">
        <h1>Welcome to SimpleHealthTracking!</h1>
        <p>
            SimpleHealthTracking is a simple and clean way to track your vital health stats. With SimpleHealthTracking you can
            monitor your sleep patterns, your medicines and habits, weight, heartrates and much more.
        </p>
        <p><a class="btn btn-primary btn-lg" href="http://www.simplehealthtracking.com/Account/Register" role="button">Create Account &raquo;</a></p>
    </div>
</div>
<div class="container">
    <div class="row odd-row">
        <div class="col-md-6">
            <img src="https://c1.staticflickr.com/1/476/31635364816_421f25ffb8_n.jpg" width="320" height="210" alt="HealthCards">
        </div>
        <div class="col-md-6">
            <h2>Health Stats Cards</h2>
            <p>
                An way to easily see cool stats about your health. Health stats cards show aggregate data about your health.
            </p>
        </div>
    </div>
    <div class="row even-row">
        <div class="col-md-6">
            <h2>Habit Stats Cards</h2>
            <p>
                You can track your completion of habits over time. SimpleHealthTracking will find your success rate and streak data.
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://c1.staticflickr.com/1/337/31635365056_46473780e8_n.jpg" width="320" height="201" alt="HabitTracking">
        </div>
    </div>
    <div class="row odd-row">
        <div class="col-md-6">
            <img src="https://c4.staticflickr.com/1/644/31556789091_01655aa16f_n.jpg" width="256" height="320" alt="SleepPatterns">
        </div>
        <div class="col-md-6">
            <h2>Sleep Log</h2>
            <p>
                Through entering your sleep data, SimpleHealthTracking can show your sleep trends in an elegant graph.
            </p>
        </div>
    </div>
    <div class="row even-row">
        <div class="col-md-6">
            <h2>Weight Trend</h2>
            <p>
                Weight data can also be represented graphically.
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://c7.staticflickr.com/1/389/31635364726_485b4b2eff_n.jpg" width="260" height="320" alt="WeightTrend">
        </div>
    </div>
    <div class="row odd-row">
        <div class="col-md-6">
            <img src="https://c1.staticflickr.com/6/5572/31635364776_f26e586e2d_n.jpg" width="261" height="320" alt="Heartrates">
        </div>
        <div class="col-md-6">
            <h2>Heartrate Records</h2>
            <p>
                SimpleHealthTracking can be used to chart heartrate data.
            </p>
        </div>
    </div>
</div>